<section class="main">
  <app-input [itemEditar]="itemEditar">
  </app-input>
  <div class="container">
    <div class="lista">
      <h4 class="title-list">Lista de Compras</h4>

      <div *ngIf="listasCompras.length !== 0; else semItem">
        <div *ngFor="let item of listasCompras">
          <app-item
          [item]="item"
          (emitirItemEditar)="editarItem($event)"
          (emitirIdDeletar)="deletarItem($event)"
          >
        </app-item>
        </div>
      </div>

      <ng-template #semItem>
        <small>Lista vazia</small>
      </ng-template>
    </div>
  </div>
</section>
